@{
	ViewData["Title"] = "Contact";
}

<!--Header-->
<div class="contact">
	<div class="header">
		<img src="~/pics/lightblue.jpg" class="headerPic" alt="Header picture. Black dog on a blue background."/>
		<h2>@ViewData["Title"]</h2>
	</div>
</div>


<div class="container contactWrapper">
	<div>
		<!--Address-->
		<h3>Address</h3>

		<p>Vovvestreet 5</p>
		<p>65B 63A, Dogtown</p>
		<p>Barkistan</p>

		<br />
		<br />
		<br />

		<!--E-mail-->
		<h3>E-mail</h3>

		<p>contact@voffrescue.com</p>
		<br />
		<br />
		<br />
	</div>

	<div>
		<!--Phone-->
		<h3>Phone</h3>

		<p>+95 862 325 75</p>

		<br />
		<br />
		<br />

		<!--Social Media-->
		<h3>Social Media</h3>

		<div class="social">
			<a href="https://www.facebook.com/" target="_blank"><img src="~/pics/facebook.png" class="miniPic" alt="Facebook logo."/></a>
			<a href="https://twitter.com/?lang=en" target="_blank"><img src="~/pics/twitter.png" class="miniPic" alt="Twitter logo."/></a>
			<a href="https://www.instagram.com/" target="_blank"><img src="~/pics/insta.png" class="miniPic" alt="Instagram logo."/></a>
		</div>

	</div>

</div>